* {
  margin: 0;
  padding: 0;
}

.container{
  background: #000;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
 img{
  width: 50%;
 }

.wrapper{
  background-color: #fff;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column; 
}


h1 {
  font-size: 40px;
  font-weight: 400;
  color: #32475b;
  margin: 40px 0;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 6px;
  background-color: #32475b;
  border: 1px solid #32475b;
  color: #fff;
  font-size: 20px;
  margin: 30px 0;
}
/* 
body{
  width: 50%;
  margin: 0 auto;
}

header{
  text-align: center;
}

header h1 {
  font-size: 60px;
  color: #2c3e50;
  font-weight: 250;
}  */